/***********************************************/
/* style1.css                            */
/* Use with template table.html         */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/
table {
        width: 600px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        border-collapse: separate;
        border-spacing: 10px 5px;
        table-layout: auto;
        empty-cells: hide;
      }

      thead th,
      tfoot th,
      tfoot td {
        background: #eee;
      }

      th,
      td {
        border: 1px solid #ccc;
        padding: 10px;
      }

      thead th:first-child {
        text-align: left;
      }

      tbody th,
      tfoot th {
        text-align: left;
      }

      tbody tr:nth-child( even ) {
        background: #ddd;
      }

/********************* end **********************/








